attrs==21.4.0
botocore==1.23.49
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
cryptography==36.0.1
dnspython==2.2.0
Flask==2.0.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
pykerberos==1.2.1
pymongo==4.0.1
pymongo-auth-aws==1.0.2
pymongocrypt==1.2.0
pyOpenSSL==22.0.0
python-dateutil==2.8.2
python-snappy==0.6.0
pytz==2021.3
requests==2.27.1
service-identity==21.1.0
six==1.16.0
twilio==7.5.1
urllib3==1.26.8
Werkzeug==2.0.2
zstandard==0.17.0
